.room-info__track {
  z-index: 100;
  position: fixed;
  top: 10px;
  left: 10px;
}

.room-info__items {
  position: fixed;
  top: 10px;
  right: 10px;
}

.room-info__track, .room-info__items  {
  font-family: Roboto;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  z-index: 10000;
}
