.room-preview {
  width: 93%;
  box-shadow: 0 1px 3px #ccc;
  margin: 0 auto 20px;
  border-radius: 5px;
  height: 70px;
  padding-top: 10px;
  background-size: cover;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  background-position: center;
}

.room-preview__label {
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-size: 1.3em;
  font-weight: 900;
  margin: 3px 15px;
}
.room-preview__info {
  color: #fff;
  font-weight: 600;
  margin-left: 17px;
  margin-top: 7px;
}

.room-preview__info__floor {
  margin-left: 10px;
}

.room-preview__info__complete {
  margin-left: 10px;
}
