.story-item__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  top: 0;
  left: 0;
  transform: scale(.94);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.story-item__gradient-bottom {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  height: 260px;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(34, 101, 163, 0));
}

.story-item__gradient-top {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 260px;
  top: 0;
  background: linear-gradient(0deg, rgba(34, 101, 163, 0), rgba(0, 0, 0, .7));
}

.story-item__name {
  position: absolute;
  font-family: HelveticaNeueCyr;
  font-weight: 1000;
  bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  padding: 0 15px;
}


.story-item__share {
  position: absolute;
  fill: #fff;
  top: 20px;
  right: 20px
}
